/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-size: 20px;
}

/* header rules */
header {
    padding-left: 10px;
    height: 30px;
    border: 1px solid #d8d6d6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    background-color: #DFDEDE;
}

#win-btns button{
    border: transparent;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.close {
    background-color: #ED6B60;
}

.minimize {
    background-color: #F5BF4F;
}

.maximize {
    background-color: #62C756;
}

/* main rules */
.flex-container, .flex-side, .flex-middle {
    display: flex;
}

.sidebar.flex-side {
    padding: 30px;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 3rem;
}
#zoomers.flex-middle{
    height: calc(100vh - 30px);
    padding: 50px;
    min-width: 50%;
    flex-flow: row wrap;
    overflow: scroll;
    max-height: 100%;
}

#zoomers .single {
    width: calc(100% / 5);
    padding: 5px;
}

#zoomers img {
    width: 100%;
    min-width: 170px;
}


span {
    background-color: white;
}

.fas {
    color: #fff;
    font-weight: 900;
    font-size: "Font Awesome 5 Free";
}