/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-size: 20px;
}

/* header rules */
header {
    padding-left: 10px;
    height: 30px;
    border: 1px solid #d8d6d6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    background-color: #DFDEDE;
}

#win-btns button{
    border: transparent;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.close {
    background-color: #ED6B60;
}

.minimize {
    background-color: #F5BF4F;
}

.maximize {
    background-color: #62C756;
}

#zoom-id h5 {
    color: #4D4B4A;
}

/* main rules */

    /* first section */
main section:first-child {
    position: relative;
    height: 50px;
    font-size: 1.1rem;
}

.top-sec {
    position: absolute;
    top: 15px;
    right: 15px;
}

.top-sec span:first-child {
    margin-right: 10px;
}

.top-sec span {
    background-color: #fff;
    background-image: linear-gradient(rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 1));
    text-align: center;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
}

/* main sidebar and middle sections */

.flex-container, .flex-side, .flex-middle {
    display: flex;
    height: calc(100vh - 150px);

}

.sidebar.flex-side {
    padding: 30px;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 3rem;
    height: 100%;
}

#zoomers.flex-middle{
    /* padding: 50px; */
    min-width: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    /* max-height: 100%; */
}

#zoomers .single {
    width: calc(100% / 5);
    padding: 5px 10px;
    min-width: 190px;
}

#zoomers img {
    width: 100%;
}

 .sidebar span {
    color: #fff;
    font-size: 1.1rem;
    margin-top: 10px;
}
.sidebar .fas {
    color: #7F7F7F;
    padding: 10px 15px;
    border-radius: 5px;
}

.sidebar.dx .fas {
    color: #5DB7F9;
}

.sidebar.dx .fas:hover {
    color: #7F7F7F;
    background-color: #5DB7F9;
}

.fas {
    color: #fff;
    font-weight: 900;
    /* font-size: "Font Awesome 5 Free"; */
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c727a;
    background-image: linear-gradient(rgba(28, 30, 32, .8), rgba(28, 30, 32, 1));
    height: 70px;
    color: #fff;
    padding-left: 5px;
    min-width: 1200px;
}

footer section {
    display: flex;
}

footer section > div{
    /* width: 100px; */
    text-align: center;
    position: relative;
    padding-right: 20px;
    margin-right: 20px;
}

.icon-text {
    font-size: 1rem;
}

.fa-angle-up {
    font-size: 1rem;
    position: absolute;
    top: 10px;
    right: 0;
}

.screen .fa-desktop {
    color: #70C53A;
}

footer section .btn {
    background-color: #404143;
    color: rgb(248, 3, 3);
    line-height: 70px;
    border: none;
    padding: 0 20px;
    font-size: 1.1rem;
    font-weight: bolder;
}

footer section .btn:hover {
    cursor: pointer;
    background-color: rgb(248, 3, 3);
    color: #404143;
    border-radius: 4px;
    transition: .3s;
}
